<div>
  <div class="flex"><span class="bold">Total amount = {{totalAmount}}</span></div>
  <div class="flex"><span class="bold">Total cost = {{totalCost}}</span></div>
</div>

<div *ngIf="totalAmount" id="cart-details">
  <div id="cart-details-name"><span class="bold-color">Details:</span></div>
  <div id="cart-details-header">
    <div>Name</div>
    <div>Price</div>
    <div>Amount</div>
    <div>Cost</div>
    <div>Actions</div>
  </div>

  <div id="cart-details-grid" *ngFor="let cartData of shoppingCart">
    <div class="dish-name">{{cartData.article.name}}</div>
    <div>{{cartData.article.price}}</div>
    <div>{{cartData.amount}}</div>
    <div>{{cartData.article.price * cartData.amount}}</div>
    <div>
      <button class="increase-btn" (click)="increaseAmount(cartData)">+</button>
      <button class="decrease-btn" (click)="decreaseAmount(cartData)">-</button>
      <button class="delete-btn" (click)="deleteArticle(cartData)">X</button>
    </div>
  </div>
</div>


