.grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 60%;
  margin: 20px 20%;
  grid-gap: 2px;
  background: lightgrey;
  border: dimgray solid 2px;
  border-radius: 4px;
}

.grid > div {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  word-break: break-word;
}

.buy-wrap {
  Grid-row-start: 1;
  Grid-row-end: 4;
  Grid-column-start: 2;
  Grid-column-end: 3;
}

.buy-btn {
  margin: 10px 10px auto auto;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #f2f2f2;
}

.buy-btn:hover {
  background: whitesmoke;
  color: black;
  cursor: pointer;
}

.name {
  font-weight: bold;
  font-size: larger;
  color: #f4511e;
}

.bold {
  font-weight: bold;
}
