.grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 2px;
  border: lightgoldenrodyellow solid 1px;
  margin: 0 20px 20px 20px;
  background: lightgrey;
}

.grid > div {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  word-break: break-word;
}

